<!DOCTYPE html>
<html ng-app="WeatherApp">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Weather App</h1>
    <div ng-controller="WeatherAppController as setPin">
      <form name="require" novalidate>
        <input name="zipcode" type="text" placeholder="Enter Zipcode" ng-model=
        "setPin.zipCode" required minlength="5">
        <button ng-click="setPin.getPin();" ng-disabled="require.$invalid">Get Weather</button>
        <span class="red" ng-if="(require.zipcode.$error.required ||require.zipcode.$error.minlength) && require.zipcode.$touched">
          Zip code must be 5 characters long</span>
        <div ng-if="setPin.temperature">
          <h2>City: {{setPin.city}}</h2>
          <h2>State: {{setPin.state}}</h2>
          <h2>Current temperature: {{setPin.temperature}} F</h2>
        </div>
      </form>
    </div>
    <br>
    <img src="./assets/1.jpg" alt="">
    <img src="./assets/2.jpg" alt="">
    <img src="./assets/3.jpg" alt="">
    <img src="./assets/4.jpg" alt="">
    <img src="./assets/5.jpg" alt="">
    <img src="./assets/6.jpg" alt="">
    <img src="./assets/7.jpg" alt="">
    <img src="./assets/8.jpg" alt="">
    <img src="./assets/9.jpg" alt="">
    <img src="./assets/10.jpg" alt="">
    <img src="./assets/11.jpg" alt="">
    <img src="./assets/12.jpg" alt="">
    <img src="./assets/13.jpg" alt="">
    <img src="./assets/14.jpg" alt="">
    <img src="./assets/15.jpg" alt="">
    <img src="./assets/16.jpg" alt="">
    <img src="./assets/17.jpg" alt="">
    <img src="./assets/18.jpg" alt="">
    <script src="src/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
